<h1>Editing target macro</h1>

<%= render "form", target_macro: @target_macro %>

<br>

<div>
  <%= link_to "Show this target macro", @target_macro %> |
  <%= link_to "Back to target macros", target_macro_path %>
</div>
