<div id="<%= dom_id fat_percentage %>">
  <p>
    <strong>Percent:</strong>
    <%= fat_percentage.percent %>
  </p>

  <p>
    <strong>User:</strong>
    <%= fat_percentage.user_id %>
  </p>

</div>
