<h1>Editing fat percentage</h1>

<%= render "form", fat_percentage: @fat_percentage %>

<br>

<div>
  <%= link_to "Show this fat percentage", @fat_percentage %> |
  <%= link_to "Back to fat percentages", fat_percentages_path %>
</div>
