<p style="color: green"><%= notice %></p>

<h1>Fat percentages</h1>

<div id="fat_percentages">
  <% @fat_percentages.each do |fat_percentage| %>
    <%= render fat_percentage %>
    <p>
      <%= link_to "Show this fat percentage", fat_percentage %>
    </p>
  <% end %>
</div>

<%= link_to "New fat percentage", new_fat_percentage_path %>
