<div class="container">
  <div class="row">
    <div class="col-md-6 text-md-start">
      <a href="https://dev.to/aldoportillo" class="text-white me-2" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-dev"></i>
      </a>
      <a href="https://github.com/aldoportillo" class="text-white me-2" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.aldoportillo.com/" class="text-white" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-briefcase"></i>
      </a>
      <a href="https://www.linkedin.com/in/aldo-portillo-09b187253/" class="text-white ms-2" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.neatonthe.rocks/" class="text-white ms-2" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-whiskey-glass"></i>
      </a>
    </div>
    <div class="col-md-6 text-md-end">
      <p>Aldo Portillo &copy; 2023 BodyTrackPro. All Rights Reserved</p>
    </div>
  </div>
</div>
