<div id="<%= dom_id muscle_percentage %>">
  <p>
    <strong>Percent:</strong>
    <%= muscle_percentage.percent %>
  </p>

  <p>
    <strong>User:</strong>
    <%= muscle_percentage.user_id %>
  </p>

</div>
