<h1>Editing muscle percentage</h1>

<%= render "form", muscle_percentage: @muscle_percentage %>

<br>

<div>
  <%= link_to "Show this muscle percentage", @muscle_percentage %> |
  <%= link_to "Back to muscle percentages", muscle_percentages_path %>
</div>
