<p style="color: green"><%= notice %></p>

<h1>Muscle percentages</h1>

<div id="muscle_percentages">
  <% @muscle_percentages.each do |muscle_percentage| %>
    <%= render muscle_percentage %>
    <p>
      <%= link_to "Show this muscle percentage", muscle_percentage %>
    </p>
  <% end %>
</div>

<%= link_to "New muscle percentage", new_muscle_percentage_path %>
